# NODES DOCKER COMPOSE
alias noderun='cd ~/forkdocker ; sudo docker-compose -p node -f ~/forkdocker/node-compose.yml '
alias nodelogs='cd ~/forkdocker ; sudo docker-compose -p node -f ~/forkdocker/node-compose.yml logs -tf --tail="50" '
alias nodeup='noderun up -d'
alias nodedown='noderun down'
alias noderec='noderun up -d --force-recreate'
alias nodestop='noderun stop'
alias noderestart='noderun restart '
alias nodepull='cd ~/forkdocker ; sudo docker-compose -p node -f ~/forkdocker/node-compose.yml  pull'

# FORKS DOCKER COMPOSE
alias forkrun='cd ~/forkdocker ; sudo docker-compose -p harvester -f ~/forkdocker/fork-compose.yml '
alias forklogs='cd ~/forkdocker ; sudo docker-compose -p harvester -f ~/forkdocker/fork-compose.yml logs -tf --tail="50" '
alias forkup='forkrun up -d'
alias forkdown='forkrun down'
alias forkrec='forkrun up -d --force-recreate'
alias forkstop='forkrun stop'
alias forkrestart='forkrun restart '
alias forkpull='cd ~/forkdocker ; sudo docker-compose -p harvester -f ~/forkdocker/fork-compose.yml  pull'
