# FORKS DOCKER COMPOSE
alias forkrun='cd ~/forkdocker ; sudo docker-compose -f ~/forkdocker/fork-compose.yml '
alias forklogs='cd ~/forkdocker ; sudo docker-compose -f ~/forkdocker/fork-compose.yml logs -tf --tail="50" '
alias forkup='forkrun up -d'
alias forkdown='forkrun down'
alias forkrec='forkrun up -d --force-recreate'
alias forkstop='forkrun stop'
alias forkrestart='forkrun restart '
alias forkpull='cd ~/forkdocker ; sudo docker-compose -f ~/forkdocker/fork-compose.yml  pull'
